*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* navbar */
.navbar{
    width: 100%;
    min-height: 60px;
    

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;

    background-color: rgb(255, 255, 255);
}

/* nav-left */
.nav-left{
    display: flex;
    align-items: center;
    gap: 16px;

    padding-left: 10px;
}

.item a{
    text-decoration: none;

    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* /nav-left */

/* nav-right */
.nav-right{
    display: flex;
    align-items: center;
    gap: 16px;

    padding-right: 10px;
}

.nav-button button{
    padding: 10px;

    background-color: #0262FF;
    border-color: #76A4FB;
}

.nav-button a{
    text-decoration: none;
    color: white;
}
/* /nav-right */
/* /navbar */

/* main */
.container-main{
    width: 100%;
    min-height: 700px;

}

/* jumbo */
.jumbo{
    width: 100%;

    margin-top: 65px;

    background-color: #B4D0E7;
}

.container-jumbo{
    max-height: 480px;
    max-width: 780px;

    margin: auto;
}

.container-jumbo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    font-weight: 800;

    padding-top: 25px;
}

/* lower-jumbo */
.lower-jumbo{
    display: flex;
    
    margin-top: 20px;
}

.paragraph-jumbo{
    width: calc(100% - 460px);
    max-height: 300px;
}

.paragraph-jumbo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    margin-top: 10px;
}

.paragraph-jumbo button{
    padding: 10px;

    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #2978F8;
    border-color: #5F94F0;
    color: white;
}

.paragraph-jumbo span{
    display: block;

    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.fa-solid.fa-arrow-down{
    font-size: 35px;

    margin-top: 25px;
}

.img-jumbo{
    min-width: 560px;
    height: 340px;
}

.img-jumbo img{
    width: 100%;
    height: 100%;
}
/* /lower-jumbo */
/* /jumbo */

/* central-section */
.central-section{
    width: 750px;
    height: 2320px;

    margin: auto;
    margin-top: 65px;

    background-color: rgb(43, 150, 226);
}

#h3 h3{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#radio-buttons{
    margin-top: 15px;
}

#radio-buttons label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.radio{
    margin-left: 10px;
}

/* colonne */
#plans{
    width: 100%;

    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    /* test */
    height: 560px;

    background-color: aquamarine;

    
}
 /* column-left */
.column-left{
    width: 30%;
    /* test */
    height: 540px;

    background-color: darkgreen;

    border: 1px solid #E6E6E7;
}

.column-left .destination{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid #E6E6E7;
}

.destination span{
    margin-left: 5px;
}

.offer{ 
    background-color: red;

    margin-left: 15px;
    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.offer h3{
    font-size: 20px;
}

.offer .price{
    margin-top: 15px;
}

.offer .period{
    margin-top: 10px;
}

.services{
    margin-top: 40px;
}

.services .services-row{
    display: flex;
    gap: 5px;

    margin-top: 20px;
}

/* /column-left */

/* column-center */
.column-center{
    width: 30%;
    /* test */
    height: 540px;

    background-color: darkgreen;

    border: 1px solid #E6E6E7;
}
.column-center .destination{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 5px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid #E6E6E7;
}
/* /column-center */

/* column-right */
.column-right{
    width: 30%;
    /* test */
    height: 540px;

    background-color: darkgreen;

    border: 1px solid #E6E6E7;
}

.column-right .destination{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 5px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid #E6E6E7;
}
/* /column-right */
/* /colonne */
/* /central-section */

/* image-section */
.image-section{
    width: 100%;
    height: 560px;

    background-color: chartreuse;
}
/* /image-section */

/* FAQ */
.faq{
    width: 100%;
    height: 420px;
}
/* /FAQ */
/* /main */

/* footer */
.container-footer{
    width: 100%;
    height: 320px;

    background-color: black;
}
/* /footer */
