*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* navbar */
.navbar{
    width: 100%;
    min-height: 60px;
    

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;

    background-color: rgb(255, 255, 255);
}

/* nav-left */
.nav-left{
    display: flex;
    align-items: center;
    gap: 16px;

    padding-left: 10px;
}

.item a{
    text-decoration: none;

    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* /nav-left */

/* nav-right */
.nav-right{
    display: flex;
    align-items: center;
    gap: 16px;

    padding-right: 10px;
}

.nav-button button{
    padding: 10px;

    background-color: #0262FF;
    border-color: #76A4FB;
}

.nav-button a{
    text-decoration: none;
    color: white;
}
/* /nav-right */
/* /navbar */

/* main */
.container-main{
    width: 100%;
    min-height: 700px;

}

/* jumbo */
.jumbo{
    width: 100%;

    margin-top: 65px;

    background-color: #B4D0E7;
}

.container-jumbo{
    max-height: 480px;
    max-width: 780px;

    margin: auto;
}

.container-jumbo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    font-weight: 800;

    padding-top: 25px;
}

/* lower-jumbo */
.lower-jumbo{
    display: flex;
    
    margin-top: 20px;
}

.paragraph-jumbo{
    width: calc(100% - 460px);
    max-height: 300px;
}

.paragraph-jumbo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    margin-top: 10px;
}

.paragraph-jumbo button{
    padding: 10px;

    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #2978F8;
    border-color: #5F94F0;
    color: white;
}

.paragraph-jumbo span{
    display: block;

    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.fa-solid.fa-arrow-down{
    font-size: 35px;

    margin-top: 25px;
}

.img-jumbo{
    min-width: 560px;
    height: 340px;
}

.img-jumbo img{
    width: 100%;
    height: 100%;
}
/* /lower-jumbo */
/* /jumbo */

/* central-section */
.central-section{
    width: 750px;

    margin: auto;
    margin-top: 65px;
}

#h3 h3{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#radio-buttons{
    margin-top: 15px;
}

#radio-buttons label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.radio{
    margin-left: 10px;
}

/* colonne */
#plans{
    width: 100%;

    margin-top: 15px;

    display: flex;
    justify-content: space-between;
}
 /* column-left */
.column-left{
    width: 30%;

    border: 1px solid #E6E6E7;
}

.column-left .destination{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid #E6E6E7;
}

.destination span{
    margin-left: 5px;
}

.offer{ 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.offer h3{
    font-size: 20px;
}

.offer .price{
    margin-top: 15px;
}

.offer .period{
    margin-top: 10px;
}

.services{
    margin-top: 40px;

    min-height: 200px;
}

.services .services-row{
    display: flex;
    gap: 5px;

    margin-top: 20px;
}

.button-column{
    margin-top: 35px;
    text-align: center;
}

.button-column button{
    padding: 10px;

    background-color: #2978F8;
    border-color: #5F94F0;
}

.button-column a{
    text-decoration: none;

    color: white;
}

.buy{
    margin-top: 15px;
}

.highlights{
    margin-top: 50px;
}
.highlights-row{
    display: flex;
    gap: 5px;

    margin-top: 10px;
}

/* /column-left */

/* column-center */
.column-center{
    width: 30%;

    border: 1px solid #E6E6E7;
}
.column-center .destination{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 5px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid #E6E6E7;
}
/* /column-center */

/* column-right */
.column-right{
    width: 30%;

    border: 1px solid #E6E6E7;
}

.column-right .destination{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 5px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid #E6E6E7;
}

.contact-us{
    margin-top: 15px;
}
/* /column-right */
/* /colonne */

/* blocco 1 */
#block-1{
    width: 100%;

    margin-top: 40px;

    font-family: Arial, Helvetica, sans-serif;
}

#head-block1{
    width: 100%;

    text-align: center;

    padding: 5px;

    border: 1px solid #E6E6E7;
}

#lower-block1{
    width: 100%;

    display: flex;

    border: 1px solid #E6E6E7;
}

#block1-left{
    width: 70%;

    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
}

#block1-left div{
    margin-top: 15px;
    font-size: 14px;
}

#block1-left p{
    margin-top: 25px;
    font-size: 14px;
}

#block1-right{
    width: 30%;

    padding-top: 20px;
}

#block1-right button{
    background-color: #2978F8;
    border-color: #5F94F0;

    padding: 10px;

    margin-left: 30px;
}

#block1-right a{
    text-decoration: none;
    color: white;
}
/* /blocco 1 */

/* blocco 2 */
#block-2{
    width: 100%;

    background-color: white;

    margin-top: 120px;

    display: flex;
}

#block2-img{
    width: 60%;
    max-height: 380px;
}

#block2-img img{
    width: 100%;
    height: 100%;
}

#block2-aside{
    width: 40%;
    height: 380px;

    font-family: Arial, Helvetica, sans-serif;

    padding: 30px;
}

#block2-aside p{
    margin-top: 20px;

    font-size: 14px;
}

#block2-aside button{
    padding: 10px;

    margin-top: 25px;
}

#block2-aside a{
    text-decoration: none;
    color: black;
}
/* /blocco 2 */

/* blocco 3 */
#block-3{
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
}

#block-3 h3{
    font-size: 30px;

    padding: 20px;

    margin-top: 80px;
}

#upper-row3{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.section-b3{
    width: 32%;
}

.img-b3{
    height: 45%;
}

.img-b3 img{
    width: 100%;
    height: 100%;
}

.paragraph-b3{
    height: 55%;

    margin-top: 10px;
    margin-left: 10px;
}

.paragraph-b3 h4{
    font-size: 20px;
}

.paragraph-b3 p{
    margin-top: 20px;
    margin-bottom: 30px;
}

#lower-row3{
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}
/* /blocco 3 */

/* blocco 4 */
#block-4{
    width: 100%;

    margin-top: 120px;
    margin-bottom: 100px;

    font-family: Arial, Helvetica, sans-serif;
}

#container-b4{
    width: 60%;
}

#container-b4 h3{
    font-size: 30px;

    margin-bottom: 40px;
}
/* /blocco 4 */
/* /central-section */

/* image-section */
.image-section{
    width: 100%;
    height: 560px;

    background-color: chartreuse;
}
/* /image-section */

/* FAQ */
.faq{
    width: 100%;
    height: 420px;
}
/* /FAQ */
/* /main */

/* footer */
.container-footer{
    width: 100%;
    height: 320px;

    background-color: black;
}
/* /footer */
